.flex {
  display: flex;
  flex-direction: row;
}
.title {
  margin-left: 10px;
}
.input {
  margin-top: 10px;
  margin-left: 20%;
  border-radius: 20px;
}
.exam {
  margin: 20px;
}
.key {
  margin: 20px;
}
.name {
  margin: 20px;
}
